<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>car collection</title>
</head>
<body>
<ul>
    <% car.forEach(car => { %>
        <li><%= car.brand %> <%= car.model %8> <%= car.year %></li> 
    <% }) %>
</ul>
<a href="/">Pervious</a> 
</body>
</html>